:root {
    --primary: #00B0B9;         /* Teal header and active highlights */
    --primary-hover: #007F86;   /* Darker teal for button hover states */
    --primary-light: #99DFE3;   /* Light tint used inside icons */

    --border: #00B0B9;          /* Teal border outline for selected items */
    --border-gray: #007F86;        /* Default border for inputs and unselected items */

    --panel-bg: #FFFFFF;        /* Outer card/panel light grey background */
    --tab-bg: #767a7d;          /* Inactive tab dark gray color */

    --text-st: #333F48;         /* Main text colour, Peikko-dark-gray */

    --text-dark: #7C878E;       /* Form label text color, Peikko-grey */
    --text-muted: #666666;      /* Unit indicator text color */
}

.theme-primary {
    background: var(--primary);
    color: white;
}

.theme-primary:hover {
    background: var(--primary-hover);
}

.theme-border {
    border-color: var(--border);
}

.theme-panel {
    background: var(--panel-bg);
}

.theme-text {
    color: var(--text-dark);
}

.btn-eng {
    background: white;
    border: 1px solid var(--border);
    border-radius: 0;
    color: var(--text-dark);
}

.btn-eng:hover {
    background: var(--primary-light);
}
/* for activ button selection */
.btn-eng-active {
    background: var(--primary);
    color: white;
    border: 1px solid var(--primary);
}

.tab {
    background: #8c8f92;
    color: white;
    border-right: 1px solid #d7d7d7;
}

.tab-active {
    background: white;
    color: var(--primary);
    font-weight: 600;
}